.additional-services {
  padding: 120px 0;
  overflow: hidden;

  @media (max-width: $breakpoint1650) {
    padding: 110px 0;
  }

  @media (max-width: $breakpoint1450) {
    padding: 80px 0 140px;
  }

  @media (max-width: $breakpoint992) {
    padding: 80px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 40px 0 76px;
  }

  // .additional-services__inner

  &__inner {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      left: -350px;
      bottom: -200px;
      width: 864px;
      height: 1043px;
      border-radius: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='864' height='1043' viewBox='0 0 864 1043' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2071_2742)'%3E%3Cellipse cx='482.426' cy='423.868' rx='124' ry='228' transform='rotate(-32.6559 482.426 423.868)' fill='%232F54EB' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_2071_2742)'%3E%3Ccircle cx='409' cy='634' r='189' fill='%23222222' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2071_2742' x='101.069' y='0.527344' width='762.713' height='846.682' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='110' result='effect1_foregroundBlur_2071_2742' /%3E%3C/filter%3E%3Cfilter id='filter1_f_2071_2742' x='0' y='225' width='818' height='818' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='110' result='effect1_foregroundBlur_2071_2742' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (max-width: $breakpoint992) {
        left: -150px;
        bottom: -172px;
        width: 380px;
        height: 420px;
      }
    }
  }

  // .additional-services__head

  &__head {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 40px;
    margin-bottom: 80px;

    @media (max-width: $breakpoint1450) {
      margin-bottom: 62px;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 36px;
      column-gap: 18px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 10px;
    }

  }

  // .additional-services__title-wrappers

  &__title-wrappers {
    flex: 0 1 900px;


    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  // .additional-services__title-wrapper

  &__title-wrapper {
    overflow: hidden;

    @media (max-width: $breakpoint768) {
      max-width: 86%;
    }

    @media (max-width: $breakpoint480) {
      max-width: 90%;
    }
  }

  // .additional-services__title

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--white-10);

    i {
      font-family: var(--second-family);
      font-style: italic;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 64px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint992) {
      // display: inline;
    }

    @media (max-width: $breakpoint480) {
      font-size: 36px;
    }


    @media (max-width: $breakpoint359) {
      font-size: 32px;
    }
  }

  // .additional-services__attantion

  &__attantion {
    margin-top: 40px;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    color: var(--white-10);

    @media (max-width: $breakpoint992) {
      margin-top: 18px;
      font-size: 14px;
    }

    @media (max-width: $breakpoint768) {
      margin-top: 0;
    }

    @media (max-width: $breakpoint480) {
      font-size: 12px;
    }
  }

  // .additional-services__main

  &__main {}

  // .additional-services__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 42px;

    @media (max-width: $breakpoint1650) {
      row-gap: 56px;
    }

    @media (max-width: 1550px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint992) {
      column-gap: 28px;
      row-gap: 32px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 14px;
    }
  }

  // .additional-services__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;

    @media (max-width: 1550px) {
      &--empty {
        display: none;
      }
    }

    @media (max-width: $breakpoint992) {
      row-gap: 20px;
    }
  }

  // .additional-services__item-picture

  &__item-picture {}

  // .additional-services__pic

  &__pic {
    width: 384px;
    height: 384px;
    border-radius: 100%;
    overflow: hidden;

    @media (max-width: $breakpoint1650) {
      width: 336px;
      height: 336px;
    }

    @media (max-width: $breakpoint1450) {
      width: 100%;
      height: 100%;
    }

  }

  // .additional-services__item-text-wrapper

  &__item-text-wrapper {
    overflow: hidden;
  }

  // .additional-services__item-text

  &__item-text {
    max-width: 270px;
    margin: 0 auto;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--white-10);

    @media (max-width: $breakpoint1450) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 13px;
    }
  }
}