.also-offer {
  position: relative;
  z-index: 1;
  padding: 32px 0 220px;

  min-height: 100dvh;

  overflow: hidden;
  background: var(--foundation-darkblue-darkblue-1);

  @media (max-width: $breakpoint1650) {
    padding: 32px 0 120px;
  }

  @media (max-width: $breakpoint1450) {
    padding: 32px 0 160px;
  }

  @media (max-width: $breakpoint992) {
    padding: 32px 0 90px;
  }

  @media (max-width: $breakpoint480) {
    padding: 32px 0 40px;
  }


  .section-head {
    margin-bottom: 148px;

    @media (max-width: $breakpoint1650) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint1450) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint580) {
      margin-bottom: 32px;
    }

    &.visible~.also-offer__main {
      .text-animation {

        overflow: hidden;

        transform: translateY(0);
      }
    }
  }

  .section-title {
    color: var(--black-10);
  }

  .section-circkle {
    background-color: var(--geekblue-2);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 650px;
    height: 790px;
    background-image: url("data:image/svg+xml,%3Csvg width='651' height='790' viewBox='0 0 651 790' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2088_3481)'%3E%3Cellipse cx='91.1037' cy='299.871' rx='164.717' ry='302.866' transform='rotate(-32.6559 91.1037 299.871)' fill='%232F54EB' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_2088_3481)'%3E%3Cellipse cx='223.746' cy='208.773' rx='200.398' ry='221.131' transform='rotate(-32.6559 223.746 208.773)' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2088_3481' x='-343.236' y='-190.24' width='868.679' height='980.222' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='110' result='effect1_foregroundBlur_2088_3481' /%3E%3C/filter%3E%3Cfilter id='filter1_f_2088_3481' x='-202.92' y='-226.562' width='853.332' height='870.671' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='110' result='effect1_foregroundBlur_2088_3481' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;

    @media (max-width:1200px) {
      content: none;
    }


  }

  &.visible {


    .also-offer__card {
      &::before {
        height: 0;
      }
    }
  }


  // .also-offer__inner

  &__inner {}

  // .also-offer__main

  &__main {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;

    @media (max-width: 1200px) {
      flex-direction: column;
      row-gap: 48px;
    }
  }

  // .also-offer__title-wrappers

  &__title-wrappers {
    max-width: 380px;
    width: 380px;
    margin-bottom: 56px;
    margin-right: 486px;

    @media (max-width: 1200px) {
      margin: 0;
      max-width: fit-content;
      width: auto;
    }

  }

  // .also-offer__title

  &__title {
    font-size: 64px;
    line-height: 120%;
    color: var(--black-10);

    i {
      font-family: var(--third-family);
      font-style: italic;
    }


    @media (max-width: $breakpoint1650) {
      font-size: 56px;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 48px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint359) {
      font-size: 30px;
    }
  }

  // .also-offer__cards

  &__cards {
    display: flex;
    align-items: center;
    column-gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    /* Убираем вертикальный скролл, если он не нужен */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    /* Плавная прокрутка */
    transition: scroll 0.3s ease-in-out;
    /* Плавный эффект прокрутки */

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      row-gap: 32px;
      margin: 0 auto;
      width: 100%;
    }
  }

  // .also-offer__card

  &__card {
    position: relative;
    min-width: 520px;
    width: 520px;
    height: 640px;
    overflow: hidden;

    &--empty {
      min-width: 96px;
      width: 96px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -10%;
      left: -10%;
      width: 124%;
      height: 120%;
      border-radius: 56px;
      background-color: var(--white-10);
      z-index: 10;
      transition: height 0.4s linear;
      user-select: none;
      pointer-events: none;

      @media (max-width: 1200px) {
        content: none;
      }
    }

    &--title {
      &::before {
        content: none;
      }
    }

    @media (max-width: $breakpoint1450) {
      width: 436px;
      min-width: 436px;
      height: 500px;
    }

    @media (max-width: 1200px) {
      &--empty {
        height: 0px;
      }

      &--title {
        height: auto;
        width: 100%;
      }
    }

    @media (max-width: $breakpoint480) {
      width: 100%;
      min-width: max-content;
      height: 346px;

      &--empty {
        height: auto;
      }

      &--title {
        height: auto;
      }
    }
  }

  // .also-offer__pic

  &__pic {
    border-radius: 32px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .also-offer__info

  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: fit-content;
    height: fit-content;
    max-width: 380px;
    min-width: 380px;
    min-height: 170px;
    padding: 20px;
    border-radius: 26px;
    background-color: var(--white-10);

    &::before {
      content: "";
      position: absolute;
      height: 100px;
      width: 90px;
      top: -100px;
      right: 0;
      border-radius: 0 60px 0 0;
      -moz-border-radius: 0 50px 0 0;
      -webkit-border-radius: 50px 0 0 0;
      -webkit-box-shadow: -40px -28px 0 0 var(--white-10);
      box-shadow: -40px -28px 0 0 var(--white-10);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      height: 100px;
      width: 90px;
      bottom: 0;
      left: -90px;
      border-radius: 0 60px 0 0;
      -moz-border-radius: 0 26px 0 0;
      -webkit-border-radius: 26px 0 0 0;
      -webkit-box-shadow: -35px -6px 0 0 var(--white-10);
      box-shadow: -67px -59px 0 0 var(--white-10);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }


    @media (max-width: $breakpoint1450) {
      max-width: 280px;
      min-width: 280px;
      min-height: 120px;
    }

    @media (max-width: $breakpoint480) {
      padding: 10px;
      max-width: 220px;
      min-width: 220px;
    }

    @media (max-width: 389px) {
      padding: 10px;
      max-width: 220px;
      min-width: 180px;
    }
  }

  // .also-offer__num

  &__num {
    z-index: 1;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 84px;
    line-height: 90%;
    color: var(--foundation-darkblue-darkblue-13);

    @media (max-width: $breakpoint480) {
      font-size: 64px;
    }
  }

  // .also-offer__label

  &__label {
    z-index: 1;
    max-width: 300px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--foundation-darkblue-darkblue-13);

    @media (max-width: $breakpoint1450) {
      font-size: 18px;
    }
  }
}

.also-offer__cards.smooth-scroll {
  scroll-behavior: smooth;
}

.also-offer__title-wrapper {
  overflow: hidden;
}