.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  main {
    flex-grow: 1;
  }
}

.section-head {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.section-titles {
  display: flex;
  align-items: center;
  column-gap: 4px;
  opacity: 0;
  transition: 0.3s cubic-bezier(0, .32, .59, .46);
}

.section-circkle {
  width: 12px;
  min-width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--foundation-darkblue-darkblue-1);
}

.section-title {
  font-size: 16px;
  line-height: 120%;
  color: var(--foundation-darkblue-darkblue-1);

  @media (max-width: $breakpoint1650) {
    font-size: 14px;
  }
}

.section-line {
  width: 0;
  height: 1px;
  background: var(--geekblue-5);
  transition: 1s cubic-bezier(0, .32, .59, .46);

  &--grey {
    background: var(--foundation-darkblue-darkblue-9);
  }
}

.section-head {
  &.visible {
    .section-titles {
      opacity: 1;
    }

    .section-line {
      width: 100%;
    }
  }
}