.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;

  main {
    flex-grow: 1;
  }
}


.section-head {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.section-titles {
  display: flex;
  align-items: center;
  column-gap: 4px;
  opacity: 0;
  transition: 0.3s cubic-bezier(0, .32, .59, .46);
}

.section-circkle {
  width: 12px;
  min-width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--foundation-darkblue-darkblue-1);

  &--blue {
    background: var(--geekblue-2);
  }
}

.section-title {
  font-size: 16px;
  line-height: 120%;
  color: var(--foundation-darkblue-darkblue-1);

  &--blue {
    color: var(--geekblue-10);
  }

  @media (max-width: $breakpoint1650) {
    font-size: 14px;
  }
}

.section-line {
  width: 0;
  height: 1px;
  background: var(--geekblue-5);
  transition: 1.4s cubic-bezier(0, .32, .59, .46);

  &--grey {
    background: var(--foundation-darkblue-darkblue-9);
  }
}

.section-head {
  &.visible {
    .section-titles {
      opacity: 1;
    }

    .section-line {
      width: 100%;
    }
  }
}


section.visible {
  .text-animation {
    overflow: hidden;
    transform: translateY(0);
  }

  .picture-animation {
    /* Элемент принимает свою нормальную форму */
    clip-path: circle(100% at 50% 50%);
    /* 50% радиус круга */
    transform: scale(1);
  }
}

// div:has(>.text-animation) {
//   overflow: hidden;
// }

.text-animation {
  will-change: transform;

  transform: translateY(100%);
  transition: 2s cubic-bezier(.165, .84, .44, 1);
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}



.btn {
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  /* To remove underline from anchor */
  transition: transform 0.2s ease-out, background-color 0.3s, color 0.3s, border 0.1s;
}


.btn.hovered {
  width: 124px;
  height: 124px;
  min-width: 124px;
  border-radius: 100%;
  background-color: #10239e;
  // border: 1px solid transparent;
}

.btn-text {
  display: inline-block;
  transition: transform 0.2s ease-out;
}

@keyframes btn {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes picture {
  0% {
    clip-path: circle(0% at 50% 50%);
    transform: scale(0.3);
    transition: transform 2s cubic-bezier(.165, .84, .44, 1),
      clip-path 5s cubic-bezier(.165, .84, .44, 1);
    will-change: transform, clip-path;
  }

  100% {
    /* Элемент принимает свою нормальную форму */
    clip-path: circle(100% at 50% 50%);
    /* 50% радиус круга */
    transform: scale(1);
  }
}

// Добавьте следующий CSS в ваш файл стилей

.no-scroll {
  overflow: hidden;
}

.picture-animation {
  clip-path: circle(0% at 50% 50%);
  transform: scale(0.3);
  transition: transform 2s cubic-bezier(.165, .84, .44, 1),
    clip-path 5s cubic-bezier(.165, .84, .44, 1);
  will-change: transform, clip-path;
}