.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  main {
    flex-grow: 1;
  }
}

.section-head {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.section-titles {
  display: flex;
  align-items: center;
  column-gap: 4px;
  opacity: 0;
  transition: 0.3s cubic-bezier(0, .32, .59, .46);
}

.section-circkle {
  width: 12px;
  min-width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--foundation-darkblue-darkblue-1);
}

.section-title {
  font-size: 16px;
  line-height: 120%;
  color: var(--foundation-darkblue-darkblue-1);

  @media (max-width: $breakpoint1650) {
    font-size: 14px;
  }
}

.section-line {
  width: 0;
  height: 1px;
  background: var(--geekblue-5);
  transition: 1.4s cubic-bezier(0, .32, .59, .46);

  &--grey {
    background: var(--foundation-darkblue-darkblue-9);
  }
}

.section-head {
  &.visible {
    .section-titles {
      opacity: 1;
    }

    .section-line {
      width: 100%;
    }
  }
}


section.visible {
  .text-animation {
    // width: max-content;
    overflow: hidden;
    // animation: slide-up 1.6s cubic-bezier(.165, .84, .44, 1) calc(1 * .13s);
    // animation-delay: 0;
    // will-change: transform;

    transform: translateY(0);
  }
}

// div:has(>.text-animation) {
//   overflow: hidden;
// }

.text-animation {
  will-change: transform;

  transform: translateY(100%);
  transition: 2s cubic-bezier(.165, .84, .44, 1);
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}



.btn {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  /* To remove underline from anchor */
  transition: transform 0.2s ease-out, background-color 0.3s, color 0.3s, border 0.3s;

  @media (hover:hover) {
    &:hover {}
  }
}


.btn.hovered {
  width: 124px;
  height: 124px;
  min-width: 124px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--foundation-darkblue-darkblue-1);
}

.btn-text {
  display: inline-block;
  transition: transform 0.2s ease-out;
}

@keyframes btn {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}