.confa {
  padding: 32px 0 80px;

  // min-height: 100vh;
  @media (max-width: $breakpoint1650) {
    padding: 36px 0 120px;
  }

  @media (max-width: $breakpoint1450) {
    padding: 38px 0 96px;
  }

  @media (max-width: $breakpoint992) {
    padding: 38px 0 72px;
  }

  @media (max-width: $breakpoint768) {
    padding: 32px 0 56px;
  }

  .section-head {
    margin-bottom: 72px;

    @media (max-width: $breakpoint1650) {
      margin-bottom: 56px;
    }

    @media (max-width: $breakpoint1450) {
      margin-bottom: 40px;
    }
  }

  // .confa__inner

  &__inner {
    padding-bottom: 200px;


    @media (max-width: $breakpoint580) {
      padding-bottom: 100px;
    }
  }

  // .confa__main

  &__main {}

  // .confa__title-wrappers

  &__title-wrappers {
    margin-bottom: 72px;

    @media (max-width: $breakpoint1450) {
      margin-bottom: 56px;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

  }

  // .confa__title-wrapper

  &__title-wrapper {
    overflow: hidden;
  }

  // .confa__title

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--white-10);

    i {
      display: block;
      font-family: var(--second-family);
      font-style: italic;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 64px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 48px;
      text-align: center;
    }

    @media (max-width: $breakpoint359) {
      font-size: 36px;
    }
  }

  // .confa__list

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    column-gap: 40px;
    row-gap: 40px;

    &--4-column {
      grid-template-columns: repeat(4, 1fr);

    }

    @media (max-width: $breakpoint992) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 68px;

      &--4-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 70px;
        justify-items: center;
        width: fit-content;
        margin: 0 auto;

        .confa__item-pic::before {
          background-size: cover;
        }
      }
    }

    @media (max-width: $breakpoint768) {
      column-gap: 16px;
      row-gap: 24px;

      &--4-column {
        column-gap: 60px;

        .confa__item-pic::before {
          transform: translate(-50%, -70%);
        }
      }
    }
  }

  // .confa__item

  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
    max-width: 186px;
    width: 100%;

    @media (max-width: $breakpoint1450) {
      row-gap: 24px;
    }

    @media (max-width: 1100px) {
      &::before {
        transform: translateX(86%) translateY(40%);
      }
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 33.33333%;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(29.3333% - 20px);
    }
  }

  // .confa__item-pic

  &__item-pic {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 228px;
      height: 212px;
      background-image: url("data:image/svg+xml,%3Csvg width='228' height='211' viewBox='0 0 228 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_335_5165)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M130 156C162.033 156 188 130.033 188 98C188 65.9675 162.033 40 130 40C98.1896 40 72.3605 65.6086 72.0037 97.3345C53.9321 99.7738 40 115.26 40 134C40 154.435 56.5655 171 77 171C90.8298 171 102.887 163.412 109.237 152.173C115.683 154.645 122.684 156 130 156Z' fill='%2310239E' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_335_5165' x='0' y='0' width='228' height='211' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='20' result='effect1_foregroundBlur_335_5165' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (max-width: $breakpoint1450) {
      img {
        width: 64px;
        height: 64px;
      }
    }

    @media (max-width: $breakpoint1450) {

      &::before {
        width: 120px;
        height: 106px;
      }
    }

    @media (max-width: $breakpoint992) {
      &::before {
        transform: translate(-50%, -62%);
      }
    }


  }

  // .confa__item-text

  &__item-text {
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: var(--white-10);

    @media (max-width: $breakpoint1650) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint359) {
      font-size: 12px;
    }
  }
}