.contact-us {
  // display: none;
  // opacity: 0;
  min-height: 50vh;


  // display: none;
  padding: 32px 0 72px;
  background-color: var(--geekblue-7);

  @media (max-width: $breakpoint1450) {
    padding: 36px 0 60px;
  }

  @media (max-width: $breakpoint768) {
    padding: 34px 0 40px;
  }

  .section-head {
    margin-bottom: 116px;

    @media (max-width: $breakpoint1450) {
      margin-bottom: 64px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 24px;
    }
  }

  // .contact-us__inner

  &__inner {}

  // .contact-us__main

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 64px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 28px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 16px;
    }
  }

  // .contact-us__info

  &__info {
    overflow: hidden;
  }

  // .contact-us__title

  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;


    @media (max-width: $breakpoint1450) {
      row-gap: 2px;
    }
  }

  // .contact-us__title-normal

  &__title-normal {
    overflow: hidden;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--foundation-darkblue-darkblue-1);

    @media (max-width: $breakpoint1450) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 36px;
    }
  }

  // .contact-us__title-italic

  &__title-italic {
    overflow: hidden;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: var(--foundation-darkblue-darkblue-1);

    @media (max-width: $breakpoint1450) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 36px;
    }
  }

  // .contact-us__form

  &__form {
    flex: 0 1 744px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}

.contact-us-answer {
  position: fixed;
  z-index: 8;
  bottom: 0;
  left: 0;
  height: calc(100vh - 66px);
  width: 100%;
  background-color: var(--black-10);
  // padding: 40px 20px;
  overflow-y: auto;
  scrollbar-width: none;

  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.5s linear;

  &.active {
    opacity: 1;
    user-select: auto;
    pointer-events: visible;
  }

  @media (max-width: $breakpoint992) {
    height: calc(100vh - 58px);
  }

  .text-animation {
    transform: translateY(0);
  }

  .picture-animation {
    animation: picture 1s linear both;
  }

  // .contact-us-answer__inner

  &__inner {
    max-width: 520px;
    margin: auto;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 24px;
    padding: 40px 20px;
    // overflow-y: auto;
    overflow-x: hidden;
  }

  // .contact-us-answer__title-wrapper

  &__title-wrapper {
    overflow: hidden;
  }

  // .contact-us-answer__title

  &__title {
    text-align: center;
    padding: 0 10px;
    animation: slide-up 1.6s cubic-bezier(.165, .84, .44, 1) both .2s;
    font-size: 48px;
    line-height: 120%;
    color: var(--foundation-darkblue-darkblue-1);

    i {
      font-family: var(--second-family);
      font-style: italic;
      font-weight: 400;
      color: var(--foundation-darkblue-darkblue-1);
    }

    @media (max-width: $breakpoint1650) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 30px;
    }

  }

  // .contact-us-answer__picture

  &__picture {
    img {
      border-radius: 56px;
      height: auto;
      object-fit: cover;
    }

    @media (max-width: $breakpoint1650) {
      img {
        width: 456px;
      }
    }

    @media (max-width: $breakpoint1450) {
      img {
        width: 345px;
      }
    }

    @media (max-width: $breakpoint992) {
      img {
        width: 334px;
      }
    }

    @media (max-width: $breakpoint580) {
      img {
        width: 100%;
      }
    }
  }

  // .contact-us-answer__footer

  &__footer {}

  // .contact-us-answer__text-wrappers

  &__text-wrappers {}

  // .contact-us-answer__text-wrapper

  &__text-wrapper {
    overflow: hidden;
  }

  // .contact-us-answer__text

  &__text {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 10px;
    animation: slide-up 1.6s cubic-bezier(.165, .84, .44, 1) both .2s;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--foundation-darkblue-darkblue-1);

    @media (max-width: $breakpoint1650) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

  }

  // .contact-us-answer__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 124px;
    min-width: 124px;
    margin: 16px auto 0;
    background-color: var(--geekblue-6);
    border-radius: 100%;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--geekblue-1);

    // opacity: 0;
    // transition: opacity 1.5s linear;

    @media (max-width: $breakpoint1450) {
      width: 102px;
      height: 102px;
      min-width: 102px;
    }

  }
}



.contact-us-animation {
  // display: none;


  .container {
    opacity: 0;
    transition: 0.2s linear 0.2s linear;

    @media (max-width: 1200px) {
      opacity: 1;
    }
  }


}