@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'), url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'), url('../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'), url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'), url('../fonts/Manrope-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Italic.woff2') format('woff2'), url('../fonts/Heuristica-Italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Regular.woff2') format('woff2'), url('../fonts/Heuristica-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Regular.woff2') format('woff2'), url('../fonts/Heuristica-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Italic.woff2') format('woff2'), url('../fonts/Heuristica-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Bold.woff2') format('woff2'), url('../fonts/Heuristica-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-BoldItalic.woff2') format('woff2'), url('../fonts/Heuristica-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}