.form {

  // .form__inner

  &__inner {}

  // .form__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .form__row

  &__row {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  // .form__input

  &__input {
    width: 100%;
    height: 40px;
    padding: 8px 24px;
    border: 0;
    border-bottom: 1px solid var(--geekblue-5);
    outline: 0;
    background-color: transparent;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--geekblue-2);

    transition: border 0.2s linear;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: var(--geekblue-2);
    }

    @media (hover:hover) {
      &:hover {
        border-color: 1px solid var(--geekblue-1);
      }
    }

    &:active,
    &:focus {
      border-color: 1px solid var(--white-10);
    }
  }

  // .form__input--textarea

  &__input--textarea {
    resize: none;
  }

  // .form__footer
  &__footer {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 44px;

    @media (max-width: $breakpoint992) {
      margin-top: 36px;
    }
  }

  // .form__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 124px;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    background-color: var(--foundation-darkblue-darkblue-1);
    border: 0;
    outline: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--geekblue-10);
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        border: 1px solid var(--foundation-darkblue-darkblue-1);
        background-color: transparent;
        color: var(--foundation-darkblue-darkblue-1);
      }
    }

    @media (max-width: $breakpoint992) {
      min-width: 102px;
      width: 102px;
      height: 102px;
    }
  }

  // .form__file

  &__file {}

  // .form__file-input

  &__file-input {
    position: absolute;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked~.form__file-label {}
  }

  // .form__file-label

  &__file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2px;
    min-width: 124px;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid var(--foundation-darkblue-darkblue-1);
    outline: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--foundation-darkblue-darkblue-1);

    transition: 0.2s linear;
    cursor: pointer;

    span {
      max-width: 78px;
    }

    img {
      transition: filter 0.2s linear;
    }

    @media (hover:hover) {
      &:hover {
        background-color: var(--foundation-darkblue-darkblue-1);
        color: var(--geekblue-10);

        img {
          filter: brightness(0) saturate(100%) invert(8%) sepia(70%) saturate(3403%) hue-rotate(234deg) brightness(90%) contrast(117%);
        }
      }
    }

    @media (max-width: $breakpoint992) {
      min-width: 102px;
      width: 102px;
      height: 102px;
    }
  }

  // .form__file-icon

  &__file-icon {}

  // .form__checkbox

  &__checkbox {}

  // .form__checkbox-input

  &__checkbox-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;

    &:checked~.form__checkbox-label {

      .form__checkbox-square {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='4' fill='white' /%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%232F54EB' stroke='%23597EF7' /%3E%3Cpath d='M7.10536 12.6041L7.08774 12.6217L2.6879 8.22185L4.12057 6.78917L7.10542 9.77402L11.8794 5L13.3121 6.43268L7.12304 12.6218L7.10536 12.6041Z' fill='white' /%3E%3C/svg%3E");
      }
    }
  }

  // .form__checkbox-label

  &__checkbox-label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
  }

  // .form__checkbox-square

  &__checkbox-square {
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 4px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='4' fill='white' /%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%232F54EB' stroke='%23597EF7' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }

  // .form__checkbox-text

  &__checkbox-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--white-10);

    a {
      color: var(--white-10);
      text-decoration: underline;
      text-decoration-skip-ink: none;

      &:hover {
        color: var(--geekblue-3);
      }
    }
  }

}