.hall {
  position: relative;
  z-index: 1;


  height: 100dvh;

  @media (max-width: $breakpoint1650) {
    height: 960px;
  }

  @media (max-width: $breakpoint1450) {
    height: 768px;
  }


  @media (max-width: $breakpoint992) {
    height: 520px;
  }

  @media (max-width: $breakpoint580) {
    height: 320px;
  }

  // .hall__pic

  &__pic {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}