.prices {
  position: relative;
  margin: 20px 0 120px;
  background-color: var(--black-10);

  @media (max-width: $breakpoint992) {
    margin: 40px 0 60px;
  }


  .section-head {
    margin-bottom: 98px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

  }

  .section-line {
    background: var(--foundation-darkblue-darkblue-9);
  }

  // .prices__inner

  &__inner {}

  // .prices__main

  &__main {
    position: relative;
    padding-bottom: 704px;

    @media (max-width: $breakpoint992) {
      padding-bottom: 0;
    }

  }

  // .prices__info

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    column-gap: 8px;
    width: 1084px;
    min-height: 230px;
    height: fit-content;
    padding-right: 24px;
    padding-bottom: 32px;

    border-radius: 0 0 60px 0;
    background-color: var(--black-10);

    // &::before {
    //   content: '';
    //   position: absolute;
    //   right: -120px;
    //   top: 0;
    //   width: 100px;
    //   height: 100px;
    //   background-color: #3498db;
    //   border-radius: 0 0 100px 0;
    //   transform: rotate(180deg);
    // }

    @media (max-width: 1200px) {
      align-items: center;
      width: 886px;
    }

    @media (max-width: $breakpoint992) {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      min-height: fit-content;
      padding: 0 0 12px 0;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
    }


  }

  // .prices__text

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--foundation-darkblue-darkblue-1);

    i {
      font-family: var(--second-family);
      font-style: italic;
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      color: var(--geekblue-1);
    }

    @media (max-width: $breakpoint992) {
      font-size: 24px;

      i {
        font-size: 24px;
      }
    }

  }

  // .prices__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 124px;
    min-width: 124px;
    background-color: var(--geekblue-6);
    border-radius: 100%;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--foundation-darkblue-darkblue-5);

    @media (max-width: $breakpoint768) {
      width: 102px;
      height: 102px;
      min-width: 102px;
    }

  }

  // .prices__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;

    @media (max-width: $breakpoint992) {
      position: static;
      max-height: 348px;
      height: auto;
      border-radius: 32px;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }

  }
}