.rent {
  position: relative;
  z-index: 1;
  padding: 80px 0 140px;
  background: var(--white-10);
  // min-height: 100vh;

  @media (max-width: $breakpoint1450) {
    padding: 80px 0;
  }

  @media (max-width: $breakpoint992) {
    padding: 32px 0 64px;
  }


  .section-head {
    margin-bottom: 56px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 32px;
    }
  }

  .section-line {
    background: var(--geekblue-2);
  }

  .section-title {}

  // .rent__inner

  &__inner {}

  // .rent__main

  &__main {}

  // .rent__title-wrappers

  &__title-wrappers {
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (max-width: $breakpoint1450) {
      margin-bottom: 54px;
    }

    @media (max-width: $breakpoint992) {
      text-align: center;
      margin-bottom: 32px;
    }

  }

  // .rent__title-wrapper

  &__title-wrapper {
    overflow: hidden;

    @media (max-width: $breakpoint992) {
      // display: inline;
    }

  }

  // .rent__title

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-10);

    i {
      font-family: var(--second-family);
      font-style: italic;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 64px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint992) {
      // display: inline;
    }

    @media (max-width: $breakpoint480) {
      font-size: 36px;
    }


    @media (max-width: $breakpoint359) {
      font-size: 32px;
    }
  }

  // .rent__lists 
  &__lists {}

  // .rent__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    /* 3 ряда */
    grid-auto-flow: column;
    /* Элементы будут заполнять колонки */
    column-gap: 300px;
    list-style: none;
    counter-reset: my-counter;


    @media (max-width: $breakpoint1650) {
      column-gap: 260px;
    }

    @media (max-width: $breakpoint1450) {
      column-gap: 24px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;
      width: 100%;
    }
  }

  // .rent__item

  &__item {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    padding: 32px 0;
    border-bottom: 1px solid var(--foundation-darkblue-darkblue-6);
    overflow: hidden;
    font-size: 20px;
    line-height: 120%;
    color: var(--black-10);


    &::before {
      content: counter(my-counter) '/';
      counter-increment: my-counter;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--black-10);
    }

    @media (max-width: $breakpoint992) {
      padding: 16px 0;
      font-size: 18px;

      &::before {
        font-size: 14px;
      }
    }

  }

  // .rent__item-text

  &__item-text {
    font-size: 20px;
    line-height: 120%;
    color: var(--black-10);

    &--small {
      font-size: 14px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;

      &--small {
        font-size: 12px;
      }
    }

  }

  // .rent__footer

  &__footer {
    margin-top: 36px;

    @media (max-width: $breakpoint768) {
      margin-top: 28px;
    }
  }

  // .rent__footer-label

  &__footer-label {
    margin-bottom: 32px;
  }
}

.rent-banqu {

  @media (max-width: $breakpoint992) {
    .rent__title-wrappers {
      text-align: left;
    }

    .rent__title {
      text-align: left;
    }
  }

}

.rent__list--banqu {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;

  .rent__item {
    padding: 20px 0;

    @media (max-width: $breakpoint992) {
      padding: 16px 0;
    }

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }
}

.rent__item-banqu {
  display: flex;
  align-items: center;
  column-gap: 40px;
  width: 100%;

  .rent__item-text {
    font-size: 16px;

    &--small {
      font-size: 14px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 14px;

      &--small {
        font-size: 12px;
      }
    }
  }

  .rent__item-text:first-child {
    flex: 0 0 360px;

    @media (max-width: $breakpoint992) {
      flex: 0 0 180px;
    }

    @media (max-width: $breakpoint768) {
      flex: 1 1 90%;
    }
  }

  .rent__item-text:last-child {
    margin-left: auto;
    text-align: right;
  }

  @media (max-width: $breakpoint992) {
    align-items: flex-start;
  }

  @media (max-width: $breakpoint768) {
    flex-wrap: wrap;
    width: 90%;
    row-gap: 12px;
  }

  @media (max-width: $breakpoint480) {

    .rent__item-text:last-child {
      margin-left: 0;
      flex-basis: 100%;
      text-align: left;
    }

  }
}

.rent-banqu__slider {}

.rent-banqu__slider-wrapper {}

.rent-banqu__slide {}

.rent-banqu__slider-control {
  margin-top: 36px;
  margin-left: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 16px;

  @media (max-width: $breakpoint768) {
    margin-top: 24px;
  }
}

.rent-banqu__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid var(--geekblue-4);
  cursor: pointer;

  img {
    transition: transform 0.2s linear;
  }

  @media (hover:hover) {
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &--prev {
    &.swiper-button-disabled {
      img {
        opacity: 0.6;
      }

      @media (hover:hover) {
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
    }
  }

  &--next {
    &.swiper-button-disabled {
      img {
        opacity: 0.6;
      }

      @media (hover:hover) {
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint1450) {
    width: 64px;
    height: 64px;
  }
}