.sums {
  padding: 170px 0;
  min-height: 1080px;

  @media (max-width: $breakpoint1650) {
    padding: 150px 0;
    min-height: 960px;
  }

  @media (max-width: $breakpoint1450) {
    padding: 150px 0 60px;
    min-height: 800px;
  }

  @media (max-width: $breakpoint992) {
    min-height: 1000px;
  }

  @media (max-width: $breakpoint768) {
    min-height: 640px;
    padding: 30px 0;
  }

  @media (max-width: $breakpoint480) {
    min-height: 440px;
  }

  // .sums__inner

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 72px;

    &::before {
      content: "";
      position: absolute;
      left: 10%;
      top: 40%;
      width: 200px;
      height: 478px;
      border-radius: 100%;
      background: var(--geekblue-6);
      -webkit-filter: blur(60px);
      filter: blur(60px);
      opacity: .4;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: -2;
    }

    @media (max-width: $breakpoint1650) {
      row-gap: 36px;
    }

    @media (max-width: $breakpoint1450) {
      row-gap: 24px;
    }

    @media (max-width: $breakpoint992) {
      row-gap: 100px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 12px;

      &::before {
        top: 20%;
        width: 100px;
        height: 200px;

        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: .6;
      }
    }
  }

  // .sums__info

  &__info {
    overflow: hidden;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .sums__title

  &__title {
    max-width: 800px;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--foundation-darkblue-darkblue-1);

    i {
      font-family: var(--second-family);
      font-style: italic;
      font-weight: 400;
      color: var(--geekblue-5);
    }

    @media (max-width: $breakpoint1450) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 30px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .sums__list

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 160px;
    flex-direction: row-reverse;

    @media (max-width: $breakpoint992) {
      column-gap: 40px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 10px;
      row-gap: 10px;
      flex-direction: column;
    }

  }

  // .sums__item-sum-wrapper

  &__item-sum-wrapper {
    display: flex;
    align-items: flex-end;
    column-gap: 0;
  }

  // .sums__item

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    overflow: hidden;
    transition: 0.3s linear;


    &:nth-child(1) {

      .sums__item-sum {
        min-width: fit-content;
      }

      span {
        margin-left: 5px;
      }
    }

    @media (max-width: $breakpoint768) {

      &:nth-child(1) {
        margin-left: auto;
      }

      &:nth-child(2) {
        margin: 0 auto;
      }

      &:nth-child(3) {
        margin-right: auto;
      }
    }
  }



  // .sums__item-sum

  &__item-sum {
    width: fit-content;
    min-width: 172px;
    white-space: nowrap;
    font-size: 96px;
    line-height: 80%;
    color: var(--geekblue-5);

    &~span {
      white-space: nowrap;
      line-height: 80%;
      color: var(--geekblue-5);
      font-size: 40px;
    }

    @media (max-width: $breakpoint1650) {
      font-size: 80px;
      min-width: 148px;
    }

    @media (max-width: $breakpoint1450) {
      font-size: 64px;
      line-height: 72%;
      min-width: 114px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 48px;
      min-width: 86px;

      &~span {
        font-size: 36px;
      }
    }
  }

  // .sums__item-text

  &__item-text {
    max-width: 180px;
    font-size: 16px;
    line-height: 150%;
    color: var(--foundation-darkblue-darkblue-1);

    @media (max-width: $breakpoint1650) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 140px;
      font-size: 12px;
    }
  }
}

/* Стили для конкретного элемента, задаем index */
.sums__item {
  /* Задаем кастомное свойство с индексом элемента */
  --index: attr(data-index);
}

/* Стили для всех элементов начиная со второго */
.sums__item:nth-child(n+2) {
  /* Задаем отступ сверху с использованием calc */
  margin-top: calc((var(--index) - 1) * 100px);

  @media (max-width: $breakpoint768) {
    margin-top: 0;
  }
}

.sums__title-wrapper {
  overflow: hidden;
}