.volga-hall {
  position: relative;
  z-index: 8;
  height: 100vh !important;
  max-height: 100vh !important;
  background-color: var(--black-10);
  overflow: hidden;

  @media (max-width: $breakpoint1650) {
    height: 960px;
  }

  @media (max-width: $breakpoint1450) {
    height: 800px;
  }

  @media (max-width: $breakpoint992) {
    height: 1000px;
  }

  @media (max-width: $breakpoint768) {
    height: 720px;
  }

  @media (max-width: $breakpoint480) {
    height: 568px;
  }

  // .volga-hall__inner

  &__inner {
    position: relative;
    z-index: 1;
    height: 1080px;

    @media (max-width: $breakpoint1650) {
      height: 960px;
    }

    @media (max-width: $breakpoint1450) {
      height: 800px;
    }

    @media (max-width: $breakpoint992) {
      height: 1000px;
    }

    @media (max-width: $breakpoint768) {
      height: 720px;
    }

    @media (max-width: $breakpoint480) {
      height: 568px;
    }
  }

  // .volga-hall__name

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: 1;

    @media (max-width: $breakpoint1650) {
      width: 920px;
      height: auto;
    }

    @media (max-width: $breakpoint992) {
      width: 680px;
      top: 38%;
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
      max-width: 90%;
      top: 55%;
    }
  }

  // .volga-hall__picture

  &__picture {
    position: absolute;

  }

  // .volga-hall__picture--1

  &__picture--1 {
    top: 50px;
    left: 0;

    &.second {
      top: calc(100% + 100px);
    }

    @media (max-width: $breakpoint1650) {
      img {
        width: 520px;
        height: auto;
      }
    }

    @media (max-width: $breakpoint1450) {
      left: -140px;
      top: 32px;
      width: 430px;

      img {
        width: 430px;
      }

      &.second {
        top: calc(100% + 32px);
      }

    }

    @media (max-width: $breakpoint768) {
      top: 20px;
      left: 20px;

      img {
        width: 236px;
      }

      &.second {
        top: calc(100% + 20px);
      }
    }

    @media (max-width: $breakpoint480) {
      top: 20px;
      left: -70px;
    }
  }

  // .volga-hall__picture--2

  &__picture--2 {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    &.second {
      top: calc(100% + 50px);
    }

    @media (max-width: $breakpoint1450) {
      top: 32px;

      img {
        height: auto;
        width: 218px;
      }
    }

    @media (max-width: $breakpoint992) {
      right: 20px;
      left: auto;
      transform: translateX(0);
    }

    @media (max-width: $breakpoint768) {
      top: 54px;
      top: 50px;

      img {
        width: 118px;
      }
    }

    @media (max-width: $breakpoint480) {
      top: 54px;
      right: 0;
    }
  }

  // .volga-hall__picture--3

  &__picture--3 {
    top: 212px;
    right: 0;

    &.second {
      top: calc(100% + 212px);
    }

    @media (max-width: $breakpoint1650) {
      right: -40px;
    }


    @media (max-width: $breakpoint1450) {
      top: 168px;
      right: -100px;

      &.second {
        top: calc(100% + 168px);
      }

      img {
        width: 324px;
        height: auto;
      }
    }

    @media (max-width: $breakpoint992) {
      top: 410px;
      right: -160px;

      &.second {
        top: calc(100% + 410px);
      }
    }

    @media (max-width: $breakpoint768) {
      right: -10px;
      top: 286px;

      &.second {
        top: calc(100% + 286px);
      }

      img {
        width: 174px;

      }
    }


    @media (max-width: $breakpoint480) {
      right: -60px;
    }
  }

  // .volga-hall__picture--4

  &__picture--4 {
    bottom: 156px;
    left: 100px;

    &.second {
      bottom: -600px;
    }

    @media (max-width: $breakpoint1650) {
      bottom: 180px;
      left: 0;
    }

    @media (max-width: $breakpoint1450) {
      left: -20px;
      bottom: 180px;

      img {
        width: 440px;
        height: auto;
      }

      &.second {
        bottom: -500px;
      }
    }

    @media (max-width: $breakpoint992) {
      bottom: 222px;
      left: -84px;
    }

    @media (max-width: $breakpoint768) {
      left: -10px;
      bottom: 178px;

      img {
        width: 238px;
      }
    }

    @media (max-width: $breakpoint480) {
      left: -90px;
      bottom: 78px;
    }
  }

  // .volga-hall__picture--5

  &__picture--5 {
    bottom: -4px;
    right: 384px;

    &.second {
      bottom: -1200px;
    }

    @media (max-width: $breakpoint1650) {
      bottom: -60px;
      right: 100px;
    }

    @media (max-width: $breakpoint1450) {
      right: 240px;
      bottom: 30px;

      img {
        width: 332px;
        height: auto;
      }

      &.second {
        bottom: -1000px;
      }
    }

    @media (max-width: 1025px) {
      right: 140px;
    }

    @media (max-width: $breakpoint992) {
      right: 40px;
    }

    @media (max-width: $breakpoint768) {
      right: 70px;
      bottom: 24px;

      img {
        width: 180px;
      }
    }

    @media (max-width: $breakpoint480) {
      right: -24px;
      bottom: -80px;
    }
  }
}

.circle {
  position: fixed;
  z-index: 9;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: var(--geekblue-7);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  z-index: 10;
  user-select: none;
  pointer-events: none;

  &.active {
    animation: circkle 3s both;
  }

}

@keyframes circkle {
  0% {
    bottom: -10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }

  0% {
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }

  0% {
    transform: translateX(-50%) scale(50);
  }
}